@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">Manage your library with ease.</p>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h2>Books</h2>
            <p>Manage your collection of books.</p>
            <a class="btn btn-primary" href="/Books">Manage Books</a>
        </div>
        <div class="col-md-6">
            <h2>Authors</h2>
            <p>Manage authors and their details.</p>
            <a class="btn btn-primary" href="/Authors">Manage Authors</a>
        </div>
    </div>
</div>
